.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.square {
    display: flex;

    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

button {
    margin-bottom: 16px;
}